@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,900&family=Montserrat:wght@500;600;700&display=swap");

html {
  font-size: 16px;
  height: 100%;
}

/* @media only screen and (min-width: 720px) {
  html {
    font-size: 18px;
  }
} */

@media only screen and (min-width: 960px) {
  html {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1240px) {
  html {
    font-size: 20px;
  }
}

header {
  position: relative;
}

body {
  min-height: 100%;
  height: auto !important;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(../assets/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 20%;
}

/* header{
  position: relative;
} */

header .sticky {
  padding: 0.3rem 0 0.8rem;
  /* background-color: lightslategrey !important; */
}

/***** NAVBAR *****/
.navbar {
  padding: 0.2rem 0 0.7rem;
  transition: 0.5s;
}

.borde {
  position: absolute;
  bottom: 0;
  height: 15%;
  width: 100%;
  background: rgb(248, 249, 255);
  background: linear-gradient(
    180deg,
    rgba(248, 249, 255, 0.9948354341736695) 0%,
    rgba(194, 16, 29, 0.6446953781512605) 74%,
    rgba(254, 31, 47, 0.7567401960784313) 100%
  );
}

nav {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 10000;
  background-color: rgba(255, 255, 255, 0.75);
}

.nav-link {
  font-size: 0.8rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.navbar-nav a {
  text-transform: uppercase;
}

.navbar-nav a:hover {
  color: #c1272d !important;
}

/* Buttons EN-CH */
.language-change {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 11%;
  height: 30px;
}

.language-change .lang {
  position: relative;
  width: 30px;
  height: 26px;
  filter: grayscale(90%);
  cursor: pointer;
}

#china {
  height: 27.5px !important;
  margin-bottom: 2.4px;
}

#china.active {
  margin-bottom: -2px !important;
}

.language-change .active {
  filter: grayscale(0);
}

.logo {
  width: 21%;
  height: 75%;
  padding: 0;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*** Banner home ***/
#banner-home {
  padding-top: 2rem;
  height: 75vh;
  position: relative;
}

#banner-home img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

/****** Whatsapp button *******/
.whatsapp {
  position: fixed;
  width: 3.5rem;
  height: 3.5rem;
  margin: 0 1rem 0.5rem 0;
  bottom: 0;
  right: 0;
  border-radius: 50px;
  text-align: center;
  font-size: 1.875rem;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgb(107, 170, 44);
}

.whatsapp:hover {
  color: rgb(107, 170, 44);
}

/********* ScrollTopButton *********/
.scroll-top-btn {
  position: fixed;
  bottom: 1vh;
  right: calc(0.25rem + 1vw);
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 50%;
  font-size: 1rem;
  background-color: black;
  color: white;
  cursor: pointer;
  border: 0;
  outline: 0;
  transition: all 0.3s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-top-btn:hover {
  background-color: lightsteelblue;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

/****** Footer ******/

footer {
  font-size: 18px;
  /* margin-top: 2rem; */
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #c1272d;
  color: whitesmoke;
  height: auto;
}

.footer-container {
  width: 92%;
  margin: 0 auto;
}

footer a {
  color: white;
  text-decoration: none;
  width: max-content;
  display: inline;
  font-size: 0.8rem;
}

footer a:hover {
  color: cornsilk !important;
}

.bg-icon {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-color: white;
  padding: 0.6rem;
  position: relative;
}

.bg-icon i {
  color: #c1272d;
  font-size: 0.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -44%);
}

.footer-container > div > div div:last-child {
  align-items: flex-start;
}

@media (max-width: 991px) {
  .borde {
    height: 9%;
    padding-top: 1rem;
  }

  .navbar {
    padding: 0.6rem 0 1.4rem;
    transition: 0.4s;
  }

  header .sticky {
    padding: 0.4rem 0 1.3rem;
  }

  .language-change {
    margin-bottom: 0.5rem;
    width: 19%;
  }

  #china {
    margin-left: 0.4rem;
    margin-bottom: 0.1rem;
  }

  #china.active {
    margin-left: 0.4rem;
    margin-bottom: 0 !important;
  }

  .logo {
    width: 32%;
  }

  .navbar-toggler {
    font-size: 1.1rem;
  }
}

@media (min-width: 991px) {
  .language-change {
    justify-content: center;
  }

  #china {
    margin-left: 0.5rem;
  }
}

@media (max-width: 768px) {
  footer {
    /* margin-top: 30vh; */
  }

  .logo {
    width: 27%;
  }
}

@media (max-width: 425px) {
  /*** Banner home ***/
  #banner-home img {
    object-fit: fill;
  }

  .logo {
    width: 48%;
  }
}
